<section class="py-5">
    <div class="container">
        <div class="d-flex justify-content-center gap-2 ">
            <a class="text-decoration-none text-bg-dark p-2 px-4 rounded-3" routerLinkActive="fw-lighter bg-danger"
                routerLink="seafood">Seafood</a>
            <a class="text-decoration-none text-bg-dark p-2 px-4 rounded-3" routerLinkActive="fw-lighter bg-danger"
                routerLink="pasta">Pasta</a>
            <a class="text-decoration-none text-bg-dark p-2 px-4 rounded-3" routerLinkActive="fw-lighter bg-danger"
                routerLink="breakfast">Breakfast</a>
        </div>

    </div>
</section>
<router-outlet></router-outlet>