<!-- <app-team-child (myEvent)=" $event"></app-team-child>
<h2>Data : {{userName}}</h2> -->
<div class="container-fluid py-3 bg-light border  border-dark-subtle">
    <div class="text-center">Hello from Team Component</div>
</div>
<div class="container py-3">
    <div class="text-center">
        <h4>Hi I'm the Team Parent Component <i class="fa-solid fa-hand text-danger fs-5"></i> and I Have A Child Called Supervisor 5aaafoooo Minooooooooo <i class="fa-solid fa-ghost fs-5"></i></h4>
    </div>
    <div class="text-center">
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam ullam, tempore explicabo praesentium repellat
            commodi cumque nihil est modi ipsam itaque doloremque, assumenda dolorum veniam sequi illo corporis
            excepturi soluta eligendi molestias, et quae dolore odit doloribus? Corrupti inventore beatae odio sint
            reiciendis iusto debitis repellendus magni illo officiis error dicta dignissimos laboriosam, tenetur ab
            impedit, consectetur voluptatum omnis quibusdam rem deserunt. Totam expedita incidunt quis iste,
            consequuntur ratione atque blanditiis, eum in veritatis non eligendi? Nulla asperiores, esse tempore aliquam
            libero sequi, quibusdam distinctio voluptates, modi dolores vel a? Cumque rem vel libero natus distinctio
            fugiat consectetur aperiam voluptatem placeat
        </p>
    </div>
</div>
<div id="demo" class="container">
    <div class="text-center my-2 ">
        <img src="imgs/2.jpg" class="img-fluid w-25 rounded-3" />
    </div>
    <div class="d-flex justify-content-center align-items-centerflex-column gap-2">
        <p class="text-center">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates vel aliquid illo eius ex ut ipsum ullam
            optio modi suscipit accusamus, ratione sapiente rerum alias voluptatum dolorum consectetur cumque porro
            officiis
            totam cupiditate! Exercitationem commodi tempore vel quidem, cupiditate ad?
        </p>
    </div>
</div>
<div class="py-3">
    <div class="w-50 my-2 mx-auto bg-dark p-3">
        <h2 class="text-center text-light">Let's Introduce Me</h2>
    <div class="my-2">
        <p class="text-center text-light">I'm the Child Component "Supervisor" amis To Control the <span class="text-danger">Red Area</span> located on My Parent</p>
    </div>
    <div class="text-center my-3">
        <button class="btn btn-danger" (click)="tes()">click here to send my parent</button>
    </div>
    </div>
</div>

<div class="container-fluid py-3 bg-light border border-dark-subtle">
    <div class="text-center">2 days ago</div>
</div>